/*----------------------------------------------------
"Latest additions to the Foobooks library" callout
-----------------------------------------------------*/
#newStocks {
    background-color:Cornsilk;
    padding:10px;
    border-radius:5px;
    margin-top:10px;
    text-align:center;
}

#newStocks h2 {
    margin-top:0;
    text-align:center;
    font-weight:bold;
    font-size:1.6rem;
}
#newStocks ul {
    margin:0;
    padding:0;
    list-style-type:none;
}


/*----------------------------------------------------
Stocks
-----------------------------------------------------*/
#stocks {
    margin-bottom:20px;
}

.stock {
    padding:10px;
    width:100%;
    margin-bottom:5px;
    text-align:left;
}

.stock h3 {
    font-size:1.3em;
    margin:4px 0 4px 0;
    font-style:italic;
    text-align:left;
}

a.stockAction:link {
    padding:0px;
    font-size:2.0rem;
}

a.stockAction:hover {
    padding:0px;
    color:#18bc9c; /* flatly teel */
}

/*----------------------------------------------------
Tags checkboxes
-----------------------------------------------------*/
#tags {
    text-align:left;
    list-style-type:none;
    margin:0;
    padding:0;
}

#tags label {
    font-weight:normal;
}

.content {
  height:auto;
  float: left;
}

.chart {
  height:auto;
  padding-left: 0px;
  padding-top: 0px;
  width: 600px;
  height: 300px;
}
